/* *{
  padding: 0%;
  margin: 0%;
  background-color: black;
  
} */
body{
 background-color: black;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;

 
}
.container{
  color: aliceblue;
  /* background-color: rgba(219, 6, 6, 0.827); */
  height: 500px;
  width: 350px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3%;
  padding: 50px;

  
}
/* #form{
  
} */
h2{
 text-align: center;
}
#text{
  height: 60px;
}
#password{
  height: 60px;
  
}
#checkbox{
  height:50px;
}
#sign{
  text-align: center;
  text-spacing-trim: space-all;
 
}
.container:hover{
 box-shadow: 0 8px 20px rgba(50, 134, 198, 0.821);
}

