h1{
  color: rgb(246, 178, 178);
  background-color: rgb(122, 95, 95);
}
p{
  color: rgb(233, 152, 30);
  background-color: rgb(147, 94, 94);
}
button{
  color: rgb(117, 87, 145);
  background:olive;/*also for background-color property*/
}
/* 
three types of css apply
1.inline
<h1 style="color:red;background-color:blue">Utsav Gupta</h1>
2.through <style> tag in head
<style>
h1{
  color: rgb(246, 178, 178);
}
  </style>
3.through external file 
in head 
<link rel="stylesheet"href="sheet.css">


h1 is a selector
color is a property
value is a red



//Color property
only for foreground
color:value;



//background color property
background-color:value;
for background color


//Color systems
140 colors are recognize by browser

RGB Red Green Blue(0-255)
red is rgb(255,0,0);
black is rgb (0,0,0);
white is rgb(255,255,255);
yellow is rgb(255,255,0);
rgb(0,0,255) is for blue;



//Hexadecimal or Hex 
color:#FFFFFF; 1,2 for red, 3,4 for green, 5,6 for blue;
#fff for white in short form but real is #ffffff





//Text related properties
text-align :position
{   
    text-align:center;right;left;also respect to parent assign
    text-align:start/left;end/right;
    right = end,start = left;
    text-align : justify; maintain same space;

}
font-weight:
{
 normal,bold,100,bolder,lighter;
 bolder, lighter for parents
}
text-decoration:
{
 seta the appearance of decorative lines of text like under line underline[__],overline[--],line-through:;
 text-decoration-color:;
 -moz-text-decoration-color:;
 text-decoration-style:[solid,double, dotted,dashed,wavy];
 -moz-text-decoration-style:[solid,double, dotted,dashed,wavy];
}
line-height: controls the height of the line of text


{
  normal,2.5,
  
}
letter-spacing:controls the horizontal spacing behavior between text characters
{
   normal,10px
}
font-size: units in css
{   
      absolute                 relative
       px                           %
       pt                           em
       pc                           rem
       cm                           ch
       mm                           vh
       in                           vw+many more
}

Pixels(px):most commonly used absolute unit
{      
96px = 1inch
not suitable  for responsive websites 
font-size:50px;          
        

}


font family: specifies a prioritized list of one or more font family names
{
  cssfontstack for fonts
  font-family:arial;
  font-family:avant garde,didot,sans-serif;
                                    sans-serif is here backup family of fonts
}

text-transform
{   
 uppercase,lowercase
}



Selectors 
 
* is a universal selector use to select everything in a documentation

element selectors

select all the elements of the same type



ID selector
Selects an element based on the value of the elements id attribute 
eg. #myId{
     property:value;
    }



    class Selector 
    selects an element based on their class attribute

    eg.
    .myclass{
       property:value;
    }


    Descendent Selector
    selects all paragraphs inside divs

   eg. div p{
       property:value;
}


adjacent sibling combinator
Headings that comes immediately after any paragraph
eg. p+h3{
     text-decoration:underline;
 }


 child Combinator:
 Select all buttons which are direct children of spans
 span>button{
            property : value;
}


//Attribute Selector
Select elements based on the presence or value of a given attribute


input[attr="value"]{
         property:value;
}


Pseudo class
A keyword added to a selector that specifies a special state of the selected  element
:hover
button:hover{
         property:value;
}
:active
{
property:value;

}

:checked radio,checkbox
{
  property: value;

}
nth-of-type




Pseudo elements
a keyword added to a selector that lets you style a specific part of the selected elements
::first-letter
::first-line
::selection





CSS : Cascading StyleSheets
what is cascade in CSS?
the cascade algorithm job is to select CSS declarations in order to determine the correct to determine the correct values for cSS properties
always prefer last one
eg h2{
     background-color:yellow;
}
     h2{
     background-color:blue;
}
    final color is blue





    Selector Specificity
    Specificity is an algorithm that calculates the weight that is applied to a given CSS declaration.


    id,    class[attribute,& pseudo-class],   element & pseudo-element
   

   1. id>class>element


   2. more selectors > less selectors


  3.if specificity same => cascading;





  InLine Specificity
 
  inline specificity is more

  inline > id > class > elements


  Inheritance in Css
   
  color palette
















  //                                BOX MODEL                            
1.Height
2.Width
3.Border
4.Padding border to content distance
5.Margin between 2boxes separate distance



//                                     Height                                 
By  default,it sets the content area height of the element

div{
  height:100px;
}  
  content height


//                                     Weight                                 
by default ,its sets the width content of the div



//                    Border                              
Used to set an elements border
1.border-width
2.border-style
3.border-color


//                 Border Shorthand                       
width|style|color


div{
    border:2px solid blue;
}



//                              Border Sides                           
To control an individual side of the box
1.border-left
2.border-right
3.border-top
4.border-bottom




//                                      Border radius                   
used to round the corners of an element's outer border edge


div{
     border-radius:15px;
}





//                                  Padding                                 
1.padding-left:;
2.padding-right:;
3.padding-top:;
4.padding-bottom:;



1. for all sides
padding:50px;
2.top & bottom | left & right
padding:1px 2px;
3.top|left & right|bottom
padding:1px 2px 3px
4.top|right|bottom|left
padding:1px 2px  3px 4px




//                                          Margin                        
to set the space outside the border
1.Margin-left:;
2.Margin-right:;
3.Margin-top:;
4.Margin-bottom:;


//                                   Margin Shorthand                      
Margin shorthand is same as Padding Shorthand 


//                            Inline & block Elements                 

Block elements
Takes up the full-width available(whole block)
start from new line


Inline elements
Takes up only necessary width don't start from new line
span is inline elements
here height width not work but margin & padding adjust from left & right  



//                                         Display                    
it sets whether an element is treated as a block or inline element and the layout used for its children
display:inline;
display:block;



//                                            inline block                
display:inline-block; when inline not work
display:none ; for disappear.


//                                              Relative Units                 
% percentage 
it is often used to define a size as relative to an element's parent object.
  eg 
  width:33.33% // relative to the parent
  margin-left : 50% // relative to the parent size



  //                                           Em                      
  Font size of the parent , in the case of typographical properties like font-size, and font-size of the element itself, in the case of other properties like width.
  if outer div size is 10px and inner font size is 2em means inner is 20px

  //                                 Drawbacks of Em's                      
  snowballs effect in nested elements


  //                                  Rem(Root Em)                 
  Font size of the root element

  //                                 Alpha Channel                        
  Sets the opacity for a color Ranges from 0 to 1

  eg. rgba(255,255,255,0.3); 



  //                                            Opacity                          
  Sets the opacity for the element 
  ranges from 0 to 1
  hidden opacity no content visible 


//                                                  Css transition               
transition enable you to define the transition between two states of an element
    //                                      Transition Shorthand
property name|duration|timing-function|delay
eg. transition : margin-top 2s ease-in-out 0.2s;





//                                      Css transform                     
this property lets you rotate,scale,skew,or translate an element
1. Rotate
transform:rotate(45deg);


2.Scale 
it use for size.
transform:scale(0.5);
transform:scale(1.5);



3.Translate move in different direction
transform:translate(50px,50px);
transform:translateX(10px);
transform:translateY(10px);



4.skew tilt the object
transform:skew(20deg);





//                                          Box Shadow                           
it adds shadow effects around an element's frame

box-shadow:2px 3px 10px green;
2px x offset
3px y offset
10px blur radius
green color




//                                             Background Image                  
lets set an image as a background.
1.eg background-image:url("");
2.eg background-size:contain|cover|auto;
unsplash for copyright free image.
contain no crop no scale repeat
cover crop no scale
auto stretch




//                                          Card hover Effect                 
create through transition and other properties




//                                                   Position                         
The position CSS property sets how an element is positioned in a document
The top,right,bottom, and left properties determine the final location of positioned elements
.static
.relative the offset is relative to itself based on the values of top , right, bottom, and left.  

but here remaining space left empty



.absolute the element is removed from the normal document flow,and no space is created for the element in the page layout

it is positioned relative to its closest  positioned ancestor,if any;otherwise,it is placed relative to the initial containing block



respect with page and remaining space take by another block
.fixed


is fixed at the point and hang on air it move with page




//                                       Flexbox                     
Flexible Box layout(responsive)

It is a one-dimensional layout method for arranging items in rows or columns
main axis depend on row & columns based
cross axis is opposite to main axis if main is row then cross is y if main is column then cross is x



flex container is a div

display is a flex for container limit
flex-direction : row or column;



//                                               Flex Direction                 
it sets hw flex items are placed in the flex container, along which axis and direction.


.flexbox-direction:row;//main axis ,left to right
.flexbox-direction:row-reverse; main axis , right to left
.flexbox-direction:column;//main axis top to bottom
flexbox-direction:column-reverse;//main axis bottom to top




//                                             Justify Content


Tells how the browser distributes space between and around content items along the main axis
.justify-content:flex-start;
.justify-content:flex-end;
.justify-content:center ;

.justify-content:space-between;
.justify-content:space-around;
.justify-content:space-evenly;






//                                   Flex wrap                               
Sets whether flex items are forced onto one line or can wrap onto multiple lines.
.flex-wrap: nowrap;
.flex-wrap: wrap;
.flex-wrap: wrap-reverse; cross direction along wrap hote hai


//                                            Align items                   
align-items:
Distributes our items along the cross axis
.justify-content:flex-start;
.justify-content:flex-end;
.justify-content:center;
.baseline





//                                       Align Content                     
it sets the distribution of space between and around the content items along a flexbox's cross-axis.

.align-content:flex-start/flex-end/center


.align-content:space-between/space-around/evenly

.align-content:baseline




//                                            Align self                 
Aligns an item along the cross axis.
align-self>align-items
.align-self:flex-start;

.align-self:flex-end;

.align-self:center;

.align-self:baseline;



//                                             Flex Sizing                   
flex-basis
it sets the initial main size of a flex item.



flex-basis:


.flex-grow
it specifies how much of the flex container's remaining space should be assigned to the flex item's main size.

overtake empty space
flex-grow:1


flex-shrink: decrease opposite to flex-grow.



//                                       Flex-shorthand                   
.flex-grow|flex-shrink|flex-basis
flex: 2 2 100px;

.flex-grow|flex-basis
flex:2 100px;

.flex-grow(unitless)
flex:2;

.flex-basis
flex:100px;




//                                         CSS Grid                        
Setting a container's display to grid will make all children grid items

container{
    display:grid;
}
    column wise

grid container,grid item


grid is 2d 
grid lines
grid cell
grid track



//                                       Grid template                    
They define the lines & track sizing

.grid-template-rows::


.grid-template-columns:


Grid Template
Repeat is used to divide all available space.

grid-template-rows:repeat(count, 1fr);


grid-template-columns:repeat(count, 1fr);

grid-template-rows:repeat(2, 1fr);

grid-template-rows:1fr 1fr


//                                        Grid Gaps                        
 gaps btw row and columns

 row-gap::after;
 column-gap:;
 grid-gap:rowGap columnGap;


 //Grid columns                                   
 Defines an item's starting & ending position inside the column

 grid-column-start:line_number;

 
 grid-column-end:line_number;


 
 grid-column:start_col/end_col;

 
 grid-column:start_col/span number;











 //Grid rows
 Defines an item's starting & ending position inside the row


 grid-row-start:line_number

grid-row-end:line_number


grid-row:start_row/end_row;

grid-row:start_row/span number




//Common Properties
Horizontal
.justify-items(container)
.justify-self(item)


Vertical
.align-items(container)
.align-self(item)


.place-items
.place-self


CSS Animations 
To animate CSS elements

@keyframes myName{
   from{font-size:20px;}
   to{font-size:40px;}
}

.animation-name
.animation-duration
.animation-timing-function
.animation-delay
.animation-iteration-count:infinite|number
.animation-direction normal|reverse|alternate|alternate-re

eg.
h1{
 background-color:pink;
 animation-name: myName;
 animation-duration:2s;
 animation-timing-function:ease-in;
 animation-delay:0;
 animation-iteration-count:3;
 animation-direction:normal;
}



//                                  Animation Shorthand                    
eg animation:widthAnimate 3s ease-in 0s infinite normal;
@keyframes widthAnimate{
from{
   width:10px;
   background-color:green;
}
   to{
   width:400px;
   background-color:blue;
}



//                                           % in Animation                  
@keyframes myName{

0%{font-size:20px;}
50%{font-size:30px;}
100%{font-size:40px;}




//                                    Media Queries                      
help create a responsive website


media features-width(of viewport)
@media(width:400px){
div{
 background-color:red;
}
}
use
.min-width:400px
.max-width:400px

@media(min-width:200px)and(max-width:300px){
}

 
//                                       Media queries on Orientation               

orientation(of viewport)

@media(orientation:landscape){
div{
    background-color:red;
}
}


//                                     Z-Index                        
it decides the stack level of elements

Overlapping elements with a larger Z-index cover those with a smaller one

all elements at z-index 0; only for position relative ,absolute




//                                 Basic Design Principles                      
for better looking websites
1.color always try to give best engaging UI
learn color wheel
Color theory

use canva for color wheel
color combination - Subtle color combination -Monochromatic
Impactful color combination - complementary
High contrast Combination - Triadic





2.Typography
style & Appearance of text

font families sans-serif|serif|monospace|cursive|fantasy


eg webpage related
icecream -> fun,funky
museum -> old,vintage
portfolio -> profession



use google fonts



//                                          Icons                    
google icons
Font awesome's.


    */ 




  





