body{
  text-align:center;
}

.button-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.line-one,.line-two{
  display:flex;
}

.btn{
  height:200px;
  width:200px;
  border-radius:20%;
  border:10px solid black;
  margin:2rem;
  cursor:pointer;
}

.red{ background-color:red; }
.yellow{ background-color:yellowgreen; }
.pink{ background-color:palevioletred; }
.purple{ background-color:plum; }

.flash{
  background-color:white !important;
}

.userflash{
  background-color:green !important;
}